@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: "Inter";
}

.conteiner{
    display: flex;

}

.left-panel{
height: 100vh;
width: 20vw;
display: flex;
flex-direction: column;
justify-content: space-between;


}


.top{
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items:center;
   
  
}

.top button{
    cursor: pointer;
    padding:8px 80px;
    border-radius: 12px;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: #1c1c1c;
    color: #fff;
    border:none
    
}

.top p{
    width: 100%;
   margin-left:80px;
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 14px;
  
}

.bottom{
    width: 100%;
    min-height: 200px;
      display: flex;
    flex-direction: column;
    align-items:center;
   

}

.bottom p{
  width: 100%;
   margin-left:80px;
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 14px;

}
.central-panel{
    width: 80vw;
    height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
    
}
.logo{
    margin-top: 100px;
    margin-right: 180px;
    margin-left: 180px;
    width: 42%;
    height: 15%;
    background-image: url(./img/Chat.png);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
}
 


.central{
   
    margin-left:100px;
    margin-right: 100px;
    padding-right: 40px;
    display: flex;
    justify-content:space-between;

}

.icon{ 
    margin-top: 40px;
    text-align: center;
}

.icon h1{
    font-size: 18px;
    margin-bottom: 20px;
}

.icon p{
    display:inline-block;
    padding:7px 14px;
    font-size: 14px;
    color: #1c1c1c;
    background-color: #F7F9FB;
    border: 1px#000000 solid;
    border-radius: 8px;
    text-align: left;
    width: fit-content;
    margin: 8px;
}
    .pesquisa {
      position: relative;
      margin: 20px;
      margin-right: 80px;
     
    }

    
    .pesquisa input { 
      margin-top:150px;
      border-color: transparent;
      border: 2px #000000 solid;
      border-radius: 20px;
      height: 20px;
      width: 650px;
      padding: 10px;
      padding-left: 60px;
      padding-right: 60px;
      font-size: 16px;
    }

    .pesquisa label {
      margin-top: 150px;
      position: absolute;
      left: 60px;
      color: #888;
      transition: opacity 0.3s ease;
      pointer-events: none;
    }

    input:focus + label,
    input:not(:placeholder-shown) + label {
      opacity: 0;
    }


